*.class

# Package Files #
*.jar
*.war
*.ear

# Eclipse 
.classpath
.project

# swp
.*.swp

# except the jars (libraries) in lib
!lib/*.jar

# LaTeX Stuff
*.aux
*.log
*.nav
*.out
*.snm
*.synctex.gz
*.toc
*.vrb
